  <!-----------Sección Educación----------->
  <div class="row">

    <div class="texto_educacion">
        <h1>Educación</h1>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul class="lista">
            <li>
                <h1 class="nombre_estudio">Estudio 1</h1> 
                
            </li>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Pariatur ab autem possimus aliquid ea ut consectetur voluptatum aliquam eaque porro.
            </p>

            <li>
                <h1 class="nombre_estudio">Estudio 2</h1>
                
            </li>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Pariatur ab autem possimus aliquid ea ut consectetur voluptatum aliquam eaque porro.
            </p>

        </ul>

    </div>

</div>  <!-----------FIN Sección Educación----------->
