 <!------------Sección Proyectos----------->
 <div class="row">
            
    <!--<h2>Proyectos realizados</h2>-->

    <div class="container-proyectos">

        <div class="titulo-proyecto">
            <h2 >Proyectos realizados</h2>
        </div>

            <div class="cards">

                <div class="col-sm-12 col-md-7 col-lg-7"> 
                    <div class="RPIC">

                        <h3>Analísis de Ejercicios con cámara 3D</h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quo quod officia officiis temporibus facere magnam at,
                            quas asperiores accusantium iure.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quo quod officia officiis temporibus facere magnam at,
                            quas asperiores accusantium iure.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quo quod officia officiis temporibus facere magnam at,
                            quas asperiores accusantium iure.
                        </p>
                    </div>
            
                </div><!--Fin contenedor-Pro-->

                <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
                    <img src="../../../assets/ID190 RPIC_Poster.jpg"
                    class="img-fluid">

                </div>
            </div><!--Fin cards-->
        
    </div><!--Fin contenedor Proyectos-->

        

</div><!--Fin-->

<!------------FIN Sección Proyectos----------->
