<div class="row">

    <div class="barras">
        <h1>Barras de Progreso de Hard y Soft Skills</h1>
  </div>

        <div class=" text-center col-sm-4 col-md-4 col-lg-4">
            <h2>HTML</h2>
            <circle-progress

                [radius]="100"
                [outerStrokeWidth]="16"
                [percent]="75"
                [imageSrc]="'./assets/html5.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [showUnits]="false"
                [title]="'HTML'"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#145A32'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"

            ></circle-progress>
        </div>


        <div class=" text-center col-sm-4 col-md-4 col-lg-4">
            <h2>CSS</h2>
            <circle-progress

                [radius]="100"
                [outerStrokeWidth]="16"
                [percent]="75"
                [imageSrc]="'./assets/css-3.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [showUnits]="false"
                [title]="'CSS'"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#145A32'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"

            ></circle-progress>
        </div>   

        <div class=" text-center col-sm-4 col-md-4 col-lg-4">
            <h2>Bootstrap</h2>
            <circle-progress

                [radius]="100"
                [outerStrokeWidth]="16"
                [percent]="75"
                [imageSrc]="'./assets/bootstrap.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [showUnits]="false"
                [title]="'bootstrap'"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#145A32'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"

            ></circle-progress>
        </div>

        <div class="text-center  col-sm-4 col-md-4 col-lg-4">
            <h2>Javascript</h2>
            <circle-progress

                [radius]="100"
                [outerStrokeWidth]="16"
                [percent]="75"
                [imageSrc]="'./assets/js.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [showUnits]="false"
                [title]="'JS'"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#145A32'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"

            ></circle-progress>
        </div>

        <div class="text-center  col-sm-4 col-md-4 col-lg-4">
            <h2>Mysql</h2>
            <circle-progress

                [radius]="100"
                [outerStrokeWidth]="16"
                [percent]="75"
                [imageSrc]="'./assets/mysql.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [showUnits]="false"
                [title]="'mysql'"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#145A32'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"

            ></circle-progress>
        </div>

        <div class="text-center  col-sm-4 col-md-4 col-lg-4">
            <h2>Trabajo en equipo</h2>
            <circle-progress

                [radius]="100"
                [outerStrokeWidth]="16"
                [percent]="75"
                [imageSrc]="'./assets/unido.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [showUnits]="false"
                [title]="'unido'"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#145A32'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"

            ></circle-progress>
        </div>

        <div class="text-center  col-sm-4 col-md-4 col-lg-4">
            <h2>Comunicación</h2>
            <circle-progress

                [radius]="100"
                [outerStrokeWidth]="16"
                [percent]="75"
                [imageSrc]="'./assets/negociando.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [showUnits]="false"
                [title]="'negociando'"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#145A32'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"

            ></circle-progress>
        </div>

            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <h2>Java</h2>
                <circle-progress
    
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [percent]="75"
                    [imageSrc]="'./assets/java.png'"
                    [imageHeight]="100"
                    [imageWidth]="100"
                    [showImage]="true"
                    [showUnits]="false"
                    [title]="'Java'"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#145A32'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="600"
    
                ></circle-progress>
            </div>

                <div class="text-center  col-sm-4 col-md-4 col-lg-4">
                    <h2>Angular</h2>
                    <circle-progress
        
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [percent]="75"
                        [imageSrc]="'./assets/angular.png'"
                        [imageHeight]="100"
                        [imageWidth]="100"
                        [showImage]="true"
                        [showUnits]="false"
                        [title]="'Angular'"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#145A32'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="600"
        
                    ></circle-progress>
                </div>

</div><!--FIN row-->
