<!-----------Sección Experiencia------------>
<div class ="row">

    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul class="lista">
            <li>
                <h1 class="nombre_empresa">Alitec S.R.L. San Juan, Argentina</h1> - 
                <h3 class="nombre_empresa">Periodo: 1 de Julio 2020 - 30 Septiembre 2020</h3>
            </li>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Pariatur ab autem possimus aliquid ea ut consectetur voluptatum aliquam eaque porro.
                
            </p>
        </ul>

    </div>

</div>
<!-----------FIN Sección Experiencia------------>
