
<header>
<div class="container-header">

    <div class="logo-AP">
        <a href="#"><img src='../../../assets/logo-ap.svg'  alt="Logo AP"></a>
    </div><!--FIN contenedor logo-->

    <div class="redes-boton">

        <div class="redes-sociales">

            <a href="#"><img src="../../../assets/icons8-github.svg" class="icono" alt="Git-hub"></a>
            <a href="#"><img src="../../../assets/icons8-instagram.svg"class="icono" alt="Instagram"></a>
            <a href="#"><img src="../../../assets/icons8-linkedin.svg" class="in-icono"  alt="Linkedin"></a>
       

        </div><!--FIN contendor redes sociales-->

        <div class="boton">
            <button >Iniciar sesión</button>
        </div><!--Fin Boton-->

    </div><!--FIN redes-boton-->

</div><!--Fin contenedor-Padre-->

<!----Parte del encabezado---->

</header><!--FIN HEADER-->

