.row{
  padding: 20px;
  background-color: #5DADE2; 
  text-align: center;
}

#nombre{
  font-weight: bold;
  margin-top:  30%;
}

/***Estilos para la foto de perfil***/

@media(min-width: 576px){
  #fotodeperfil{
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;  
    left: 3%;
    top:535px;
  }
}

@media(max-width: 575px){
  #fotodeperfil{
    position: absolute;
    width: 28%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;  
    left: 37%;
  }
}
/***Fin estilos foto de perfil***/