 <!--****Acerca de mí y foto Perfil****-->
 <div class="row">

    
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fototucho.jpg" class="img-fluid" id="fotodeperfil">
        </div>
    

    <div class="col-xs-12 col-sm-2  col-md-2 col-lg-2">
       <p id="nombre">Luis A. Casarotto</p>
       <p>Ingeniero Electrónico y Full Stack developer Jr</p>

   </div>

   <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
       <span>
           <h1>Acerca de mi</h1>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
               Nam vero facilis sequi eveniet atque quibusdam eum dolore iure numquam nulla,
               exercitationem beatae non harum vel? Reprehenderit quis animi facilis eaque!
           </p>
       </span>
   </div>   

</div><!--Fin div Row-->
<!----------- FIN Sección Acerca de mi------------>
